<div class="container is-fluid">
  <div class="box">
    <h1 class="is-size-2">Typing Challange</h1>
    <hr />
    <h3 class="is-size-4">
      <span [class]="compare(letter,text[i])" *ngFor="let letter of sentence.split(''); let i = index"
        >{{ letter }}</span
      >
    </h3>

    <input
      name="text"
      id="textarea"
      (input)="changeText($event)"
      placeholder="Enter a sentense shown above"
    />
    <!-- {{ text }} -->
    <div *ngIf="sentence === text" class="is-size-2 border">You Win!</div>
  </div>
</div>
