:host {
  height: 100vh;
  width:100%;
  display: grid;
  place-items: center;
  font-family: Roboto;
  letter-spacing: 1.5px;
}

.box {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 auto;
}
.container {
  width: 800px;
  min-height: 80vh;
}

h3 {
  font-weight: 500;
  color: black;
  text-align: center;
}

hr {
  width: 500px;
  background-color: rebeccapurple !important;
  height: 2px solid;
}
input {
  margin: 25px auto;
  width: 600px;
  height: 50px;
  color: cadetblue;
  font-size: large;
  font-weight: 600;
  text-align: center;
}

.border {
  margin: 10px 1px;
  border: 3.5px solid red;
  border-radius: 5%;
  color: rebeccapurple;
  text-align: center;
  cursor: pointer;
  width: 200px;
}

.pending {
  color: black;
}

.success {
  color: rgb(8, 8, 8);
}

.danger {
  color: red;
}

@media only screen and (max-width: 800px) {
  .border {
    border: 3px solid red;
    border-radius: 3%;
    color: rebeccapurple;
    text-align: center;
    cursor: pointer;
    width: 153px;
    font-size: 23px !important;
  }

  .columns {
    display: flex !important;
    flex-direction: row !important;
  }

  .container {
    height: 80vh;
  }

input {
  margin: 20px auto;
  width: 500px;
  height: 65px;
  color: cadetblue;
  font-size: large;
  font-weight: 600;
  text-align: center;
  outline: none;
}
}
